
<!-- Header-->

<nav class="navbar navbar-expand-lg navbar-dark">
  
  <a class="navbar-brand" href=""> <img src="../favicon.ico"> {{title}}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link btn btn-dark" routerLink="/Product" routerLinkActive="active" ariaCurrentWhenActive="page">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-dark" href="#orders" routerLinkActive="active">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-dark" routerLink="/Kart" routerLinkActive="active">Kart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-dark" routerLink="/Login" routerLinkActive="active">Login/Register</a>
      </li>
    </ul>
  </div>
</nav>

    


<section class="body">  
  <router-outlet></router-outlet>  
</section>


<section class="lower">
  <section id="features">
    <div class="row">
      <div class="feature-box col-md-4">
        <i class="icon fa-solid fa-circle-check fa-3x"></i>
        <h3><b>Quality Products.</b></h3>
        <p>We dont compromise on Quality.</p>
      </div>

      <div class="feature-box col-md-4">
        <i class="icon fa-solid fa-bullseye fa-3x"></i>
        <h3><b>Return Policy.</b></h3>
        <p>No questions asked on return within 7 days.</p>
      </div>

      <div class="feature-box col-md-4">
        <i class="icon fa-solid fa-heart fa-3x"></i>
        <h3><b>Latest Trends.</b></h3>
        <p>Find the latest products at one place.</p>
      </div>
    </div>
  </section>
</section> 


 <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">our services</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="http://localhost:4200/Product/64eb62549e953746eba80ff6">watch</a></li>
          <li><a href="http://localhost:4200/Product/64eb6afa14245ac7f48a95e2">laptop</a></li>
          <li><a href="http://localhost:4200/Product/64eb5f109e953746eba80ff4">buds</a></li>
          <li><a href="http://localhost:4200/Product/64e9d652b7a459393a44f68e">iphone</a></li>
          <li><a href="http://localhost:4200/Product/64eb643e9e953746eba80ff7">speaker</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f fa-lg"></i></a>
          <a href="https://twitter.com/AkshatG04278403" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
          <a href="https://www.instagram.com/akshat_garg_07/?hl=en" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
          <a href="https://www.linkedin.com/in/akshatgarg76" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a>
        </div>
      </div>
    </div>
    <div class="row" style="color: white;text-align: center;padding: 100px 0px 100px;">
      <h4>@Shipkart,2023</h4>
      <h6>All rights reserved.</h6>
    </div>
  </div>
</footer>