<h2>Product Lists</h2>
<!-- 
<ul>
    <li *ngFor = "let product of products">
        Product - {{product.item}} <br> 
        Brand - {{product.brand}} <br>
        Price - {{product.price}} <br> <br>
    </li> 
</ul>  -->

<div class="grid-container">
    <div class="grid-item" *ngFor = "let product of products">
        Product - {{product.item}} <br> 
        Brand - {{product.brand}} <br>
        Price - {{product.price}} <br> <br>
    </div>
</div>

<!-- <button type="button" class="btn btn-warning">Warning</button> -->