<h3>Product Lists</h3>
<!-- 
<ul>
    <li *ngFor = "let product of products">
        Product - {{product.item}} <br> 
        Brand - {{product.brand}} <br>
        Price - {{product.price}} <br> <br>
    </li> 
</ul>  -->

<div class="grid-container">
    <div class="grid-item" *ngFor = "let product of products" (click)="store_id(product)">
        <br>
        <img src="{{product.imageUrl}}"  alt="">
        <br>
        <br>
        Product - {{product.item}}
        <br> 
        Brand - {{product.brand}} <br>
        Price - Rs. {{product.price}} /-<br> 
        <br>
        <!-- <button type="button" (click)="add_to_kart(product)">
            Add to kart
        </button> -->
    </div>
</div>



<!-- <img src="../../assets/images/Television.jpg" height="250" width="350" alt=""> -->

<!-- <button type="button" class="btn btn-warning">Warning</button> -->